@import 'src/styles/variables.scss';

.container {
  background-color: var(--color-white-00);
  box-shadow: var(--modal-shadow);
  border-radius: 3px;
  max-width: 800px;
  width: 100%;
  padding: 3.75rem;

  @media (max-width: $m) {
    padding: 3rem;
  }
}
